label {
    padding: 10px;
}

form {
    padding: 1px 37%;
}

body {
    background-image: url('one.jpg');

    color: red;
}

h1 {
    padding: 15px 33%;
    color: red;
}

input[type = number] {
    width: 50px;
}

input[type = submit] {

    background-color: red;
}

input[type = reset] {

    background-color: grey;
}